<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% block head %}

    {% endblock %}

    <title> {% block title %} {% endblock %} </title>
    
</head>

<body style="padding-top: 65px;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url '/' %}">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                {% if request.user.is_authenticated %}
                    {% if request.user.proveedor %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'mostrar_Perfil_Proveedor' %}">Perfil</a>
                        </li>
                    {% comment %} {% if request.user.id in list_id_users_proveedor %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'mostrar_Perfil_Proveedor' %}">Perfil</a>
                        </li> {% endcomment %}
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'mostrar_Perfil_Cliente' %}">Perfil</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'ver_Carrito' %}"> Ver carrito</a>
                        </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}"> <span class="glyphicon glyphicon-print">Cerrar Sesion</a>
                    </li> 
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> {{request.user}} </a>
                    </li> 
                    <li class="nav-item active" >
                        <a class="nav-link" href="#"> {{request.user.id}} </a>
                    </li> 
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'registrar_Proveedor' %}"> Registrar Proveedor</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'registrar_Cliente' %}"> Registrar Cliente</a>
                    </li>
                {% endif %}

            </ul>
            <!-- <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <div class="container">
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <p>Proyecto 2019
            <!-- Broma -->
            <a href="https://i.ibb.co/Y06Nw9b/d85bdc83-df6a-4bdd-a394-976fd7bb8a87.jpg" target="blank"> <img
                    src="https://cdn.icon-icons.com/icons2/1446/PNG/512/22285snake_98774.png" height="20"
                    width="20"></a>
        </p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% block scripts %}



    {% endblock %}
</body>

</html>     
{% comment %} </nav>
        </header>

        
        <div id="main">
            {% block content %}



            {% endblock %}
        </div>
        <footer>
            <p>Proyecto 2019
                <!-- Broma -->
                <a href="https://i.ibb.co/Y06Nw9b/d85bdc83-df6a-4bdd-a394-976fd7bb8a87.jpg" target="blank"> <img
                        src="https://cdn.icon-icons.com/icons2/1446/PNG/512/22285snake_98774.png" height="20"
                        width="20"></a>
            </p>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% block scripts %}



    {% endblock %}
</body>

</html> {% endcomment %}