{% extends "sistemadecompra/base.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <h2>Checkout</h2>

    <h4>Su pedido:</h4>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Proveedor</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subotal</th>
          </tr>
        </thead>
        <tbody>
            {% for prov in losProveedores %}
                <tr>
                    <td style="font-weight: bolder;">{{prov.user.username}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for productoCantidad in elCarrito %}
                {% if prov == productoCantidad.producto.proveedor %}
                <tr>
                    <td></td>
                    <td>{{productoCantidad.producto.nombre}}</td>
                    <td id="valorProd{{productoCantidad.producto.id}}" class="colPrecio">${{productoCantidad.producto.valor}}</td>
                    <td>{{productoCantidad.cantidad}}</td>
                    <td id="totalProd{{productoCantidad.producto.id}}" class="colTotalProd"> ${{productoCantidad.subTotal}}</td>
                  </tr>
                {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td style="text-align: right; font-weight: bolder; font-size: large;">Total</td>
              <td id="totalProveedor" style="font-weight: bolder; font-size: large;"> ${{totalFinal}}</td>
            </tr>
          </tfoot>
      </table>
    <p>
        Elija metodo de pago:
    </p>
    <p>
        <select>
            {% for p in losPagos %}
                <option value="{{p.nombre}}">{{p.nombre}}</option>
            {% endfor %}
        </select>     
    </p>
    <p>
        Elija la direccion de entrega
    </p>
    <form action="{% url 'proceder_Checkout' %}" method="GET">
        <input type="radio" id="dirPropia" name="elegirDir" value="propia" onclick="deshabilitarOtraDir()" checked > Mi dirección registrada<br>
        <input type="radio" id="dirOtra" name="elegirDir" value="otra" onclick="habilitarOtraDir()"> Elegir otra dirección:<br>
        
        <label for="nuevaCalleNombre">Calle:</label>
        <input class="form-control" type="text" id="nuevaCalleNombre" name="nuevaCalle"><br>
        
        <label for="nuevaCalleNumero">Numero:</label>
        <input class="form-control" type="text" id="nuevaCalleNumero" name="nuevaCalleNumero"><br>
        
        <input type="hidden" name="solicitudRealizarPedido">

        <input type="submit" value="Efectuar compra" class="btn btn-success">
    </form>
    
    <script>
        document.getElementById("nuevaCalleNombre").disabled = true;
        document.getElementById("nuevaCalleNumero").disabled = true;
        function deshabilitarOtraDir(){
            document.getElementById("nuevaCalleNombre").disabled = true;
            document.getElementById("nuevaCalleNumero").disabled = true;
        }

        function habilitarOtraDir(){
            document.getElementById("nuevaCalleNombre").disabled = false;
            document.getElementById("nuevaCalleNumero").disabled = false;
        }
    
    </script>
{% endblock %}