<div class="row justify-content-end">
    <div class="col col-lg-2">
        <a class="btn btn-secondary" href="{% url 'modificar_Cliente' request.user.id %}">Modificar datos</a>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h5>Información Personal</h5>
        <hr>
    </div>
    <div class="col col-lg-4">
        <h6>Nombre</h6>
        <p>{{cliente.user.first_name}}</p>
    </div>
    <div class="col col-lg-4">
        <h6>Apellido</h6>
        <p>{{cliente.user.last_name}}</p>
    </div>
    <div class="col col-lg-4">
        <h6>Dirección</h6>
        <p>{{cliente.calle}} {{cliente.numero}}</p>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h5>Información Contacto</h5>
        <hr>
    </div>
    <div class="col col-lg-4">
        <h6>Teléfono</h6>
        <p>{{cliente.telefono}}</p>
    </div>
    <div class="col col-lg-4">
        <h6>Mail</h6>
        <p>{{cliente.user.email}}</p>
    </div>
    <div class="col col-lg-4">
        <h6>RELLENO</h6>
        <p>{{cliente.calle}} {{cliente.numero}}</p>
    </div>
</div>