<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Comentarios de clientes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% if comentarios %}
                <ul class="list-unstyled">
                    {% for dic in comentarios %}
                        <li class="media">
                            <div class="align-self-center mr-3">
                                <p> fecha</p>
                                <p> hora</p>
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{dic.cliente}}</h5>
                                <p>{{dic.comentario}}</p>
                            </div>   
                        </li>
                        <hr>
                        {% comment %} <p> Usuario: {{dic.cliente}} </p>
                        <p> {{dic.comentario}} </p>
                        <hr>  {% endcomment %}
                    {% endfor %}
                </ul>
            {% else %}
                <p> Usted aun no tiene comentarios </p>            
            {% endif %}
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h5>Información Personal</h5>
        <hr>
    </div>
    <div class="col col-lg-4">
        <h6>Nombre</h6>
        <p>{{proveedor.user.first_name}}</p>
    </div>
    <div class="col col-lg-4">
        <h6>Apellido</h6>
        <p>{{proveedor.user.last_name}}</p>
    </div>
    <div class="col col-lg-4">
        <h6>Dirección</h6>
        <p>{{proveedor.calle}} {{proveedor.numero}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col col-lg-12">
        <h5>Información Contacto</h5>
        <hr>
    </div>
    <div class="col col-lg-4">
        <h6>Teléfono</h6>
        <p>{{proveedor.telefono}}</p>
    </div>
    <div class="col col-lg-4">
        <h6>Mail</h6>
        <p>{{proveedor.user.email}}</p>
    </div>
    <div class="col col-lg-4">
        <h6>Calificacion</h6>
        {% if puntajePromedio == 0 %}
                <p> Sin puntaje aun. </p>
            {% else %}
                <p>{{puntajePromedio}} ({{cantidadCalifacion}})</p>
            {% endif %}  
    </div>
</div>
<br>
<div class="row">
    <div class="col col-lg-12">
        <h5>Reseñas de los clientes</h5>
        <hr>
        <button type="button" data-toggle="modal" data-target="#staticBackdrop">
            Comentarios
        </button>
    </div>
</div>