<div class="row">
    <div class="col col-lg-12">
        <div class="list-group shadow p-3 mb-5 bg-white rounded">
          	<font size=6>
            	Estado de mis Pedidos:
          	</font>
			{% for pedido in misPedidos %}
				<div class="list-group-item list-group-item-action flex-column align-items-start">
					<p class="mb-1">Proveedor: {{pedido.proveedor.user.username}}</p>
					<p class="mb-1">Dia de entrega elegido: {{pedido.fecha}}</p>
					<p class="mb-1">Hora de entrega elegido: {{pedido.hora}}</p>
					<p class="mb-1">Productos pedidos:</p>
					<ul>
						{% for producto in pedido.producto %}
							<li>{{producto.nombre}}</li>
						{% endfor %}
					</ul> 
					<p class="mb-1">ESTADO: <b> {{pedido.estado.nombre}} </b></p>
					<form action="{% url 'ver_Pedidos_Cliente' %}" method="GET">
						{% if pedido.estado.nombre == 'Creado' %}
							<button type="submit" name="CancelarCompraCliente" value="{{pedido.pedido.id}}" class="btn btn-success">Cancelar Compra</button>
						{% endif %}
						{% if pedido.estado.nombre == 'Cambio Fecha' %}		
							<button type="submit" name="CambioFechaCliente" value="{{pedido.pedido.id}}" class="btn btn-success">Cambiar Fecha</button>
						{% endif %}
					</form>
				</div>
			{% endfor %}
        </div>
    </div>
</div>
  