<div class="row">
  <div class="col col-lg-6">
    <div class="list-group shadow p-3 mb-5 bg-white rounded">
        <font size=6>
            Pedidos sin confirmar
          </font>
        {% for pedidoProducto in pedidosSinConfirmar_Producto %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          {% comment %} <p class="text-right font-italic"> {{pedidoProducto.pedido.fecha_creacion.day}}/{{pedidoProducto.pedido.fecha_creacion.month}}/{{pedidoProducto.pedido.fecha_creacion.year}}. {{pedidoProducto.pedido.fecha_creacion.time}} </p> {% endcomment %}
          <p class="text-right font-italic"> {{pedidoProducto.pedido.fecha_creacion}}</p>
          <p class="mb-1">Cliente: {{pedidoProducto.pedido.cliente.user.first_name}}  {{pedidoProducto.pedido.cliente.user.last_name}}</p>
          <p class="mb-1">Dirección: {{pedidoProducto.pedido.calle}} {{pedidoProducto.pedido.numero}}</p>
          <p class="mb-1">Dia de entrega sugerido: {{pedidoProducto.pedido.fecha}}</p>
          <p class="mb-1">Hora de entrega sugerido: {{pedidoProducto.pedido.hora}}</p>
          <p class="mb-1">Productos pedidos:</p>
          <ul>
            {% for prodCant in pedidoProducto.producto_cantidad%}
              <li>{{prodCant.producto.nombre}} x{{prodCant.cantidad}}</li>
            {% endfor %}
          </ul>
          <form action="{% url 'ver_Pedidos' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="confirmar" value="{{pedidoProducto.pedido.id}}" class="btn btn-success">Confirmar Pedido</button>
            <button type="submit" name="cancelar" value="{{pedidoProducto.pedido.id}}" class="btn btn-danger">Cancelar Pedido</button>
            <button type="submit" name="cambioFecha" value="{{pedidoProducto.pedido.id}}" class="btn btn-warning">Cambio Fecha</button>

          </form> 
        </a>
        {% endfor %}
    
    
      </div>
  </div>

  <div class="col col-lg-6">
    <div class="list-group shadow p-3 mb-5 bg-white rounded">
      <font size=6>
        Pedidos confirmados
      </font>
        {% for pedidoProducto in pedidosConfirmado_Producto %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="text-right font-italic"> {{pedidoProducto.pedido.fecha_creacion}}</p>
            <p class="mb-1">Cliente: {{pedidoProducto.pedido.cliente.user.first_name}}  {{pedidoProducto.pedido.cliente.user.last_name}}</p>
            <p class="mb-1">Dirección: {{pedidoProducto.pedido.calle}} {{pedidoProducto.pedido.numero}}</p>
            <p class="mb-1">Dia de entrega sugerido: {{pedidoProducto.pedido.fecha}}</p>
            <p class="mb-1">Hora de entrega sugerido: {{pedidoProducto.pedido.hora}}</p>
            <p class="mb-1">Productos pedidos:</p>
            <ul>
              {% for prodCant in pedidoProducto.producto_cantidad%}
                <li>{{prodCant.producto.nombre}} x{{prodCant.cantidad}}</li>
              {% endfor %}
            </ul>
            <form action="{% url 'ver_Pedidos' %}" method="POST">
              {% csrf_token %}
              <button type="submit" name="confirmarEntrega" value="{{pedidoProducto.pedido.id}}" class="btn btn-success">Confirmar Entrega</button>
            </form>
          </a>
        {% endfor %}
      </div>
  </div>

</div>
