<div class="row">
    <div class="col col-lg-12">
        <div class="list-group shadow p-3 mb-5 bg-white rounded">
          	<font size=6>
            	Estado de mis Pedidos:
          	</font>
			{% for pedido in misPedidos %}
				<div class="list-group-item list-group-item-action flex-column align-items-start">
					<p class="mb-1">Proveedor: {{pedido.proveedor.user.username}}</p>
					<p class="mb-1">Dia de entrega elegido: {{pedido.fecha}}</p>
					<p class="mb-1">Hora de entrega elegido: {{pedido.hora}}</p>
					<p class="mb-1">Productos pedidos:</p>
					{% comment %} <ul>
						{% for producto in pedido.productos %}
							<li>{{producto.nombre}}</li>
						{% endfor %}
					</ul> {% endcomment %}
					<p class="mb-1">ESTADO: {{pedido.confirmado}}</p>
					<form action="{% url 'ver_Pedidos_Cliente' %}" method="GET">
						<button type="submit" name="confirmar" value="{{pedido.pedido.id}}" class="btn btn-success">Calificar</button>
						<button type="submit" name="confirmar" value="{{pedido.pedido.id}}" class="btn btn-success">No deseo calificar</button>
					</form>
				</div>
			{% endfor %}
        </div>
    </div>
</div>
  