{% extends "sistemadecompra/base.html" %}

{% block title %}
Carrito
{% endblock %}

{% block content %}
    <h2>Carro de compras</h2>
    


        
    {% comment %}
        Si el carrito esta vacio se muestra una mensaje
    {% endcomment %}
    {% if not elCarrito %}
        
        <br> <br>
        <figure class="figure">
            <img src="https://previews.123rf.com/images/boygointer/boygointer1408/boygointer140800262/31041017-el-carro-vac%C3%ADo-imagen.jpg" class="figure-img img-fluid rounded" alt="..." height="350" width="350">
            <figcaption class="figure-caption text-right"><h3><b>Tu carrito está vacio. ¡Vamos a comprar!</b></h3></figcaption>
        </figure>
        
    
    {% comment %}
        Si el carrito no esta vacio se muestran los productos separados por proveedor
    {% endcomment %}
    {% else %}
        {% comment %}
            Se muestra una pestaña por cada proveedor    
        {% endcomment %}
        
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Recordá que se debe cargar una fecha y hora por cada proveedor!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for prov in losProveedores %}
                <li class="nav-item">
                    <a class="nav-link {{ forloop.first|yesno:"active," }}" id="{{prov.id}}-tab" data-toggle="tab" href="#panel{{prov.id}}" role="tab" aria-controls="panel{{prov.id}}" aria-selected="{{ forloop.first|yesno:"true,false" }}">{{prov.user.username}}</a>
                </li>
            {% endfor %}
        </ul>
        {% comment %}
            Por cada proveedor se cargan sus productos correspondientes    
        {% endcomment %}
        <form action="{% url 'ver_Carrito' %}" method="GET">
            <div class="tab-content" id="myTabContent">
                {% for prov in losProveedores %}
                <div class="tab-pane fade {{ forloop.first|yesno:"show active," }}" id="panel{{prov.id}}" role="tabpanel" aria-labelledby="{{prov.id}}-tab">
                    <br>
                    <p>Productos agregados:</p>
                    {% comment %} <ul>
                        {% for productoCantidad in elCarrito %}
                            {% if prov == productoCantidad.producto.proveedor %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    {{productoCantidad.producto.nombre}}
                                                </div>
                                                <div class="col-md-1">
                                                    ${{productoCantidad.producto.valor}}
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <input class="form-control" type="number" id="cantProd{{productoCantidad.producto.id}}" name="cantProd{{productoCantidad.producto.id}}" value="{{productoCantidad.cantidad}}" min="1">

                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <a class="btn btn-danger" href="{% url 'elimimar_item_carrito' productoCantidad.producto.id %}" role="button">
                                                        <i class="bi bi-trash3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul> {% endcomment %}
                    
                    
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for productoCantidad in elCarrito %}
                                {% if prov == productoCantidad.producto.proveedor %}
                                <tr>
                                    <td>{{productoCantidad.producto.nombre}}</td>
                                    <td id="valorProd{{productoCantidad.producto.id}}" class="colPrecio">${{productoCantidad.producto.valor}}</td>
                                    <td style="width: 16.66%">
                                        <input class="form-control inputCantidad" type="number" id="cantProd{{productoCantidad.producto.id}}" name="cantProd{{productoCantidad.producto.id}}" value="{{productoCantidad.cantidad}}" min="1">
                                    </td>
                                    <td id="totalProd{{productoCantidad.producto.id}}" class="colTotalProd"> 0.00</td>
                                    <td>
                                        <a class="btn btn-danger" href="{% url 'elimimar_item_carrito' productoCantidad.producto.id %}" role="button">
                                            <i class="bi bi-trash3"></i>
                                        </a>
                                    </td>
                                  </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                              <td></td>
                              <td></td>
                              <td style="text-align: right; font-weight: bolder; font-size: large;">Total</td>
                              <td id="totalProveedor" style="font-weight: bolder; font-size: large;"></td>
                              <td></td>
                            </tr>
                          </tfoot>
                      </table>


                    <p>Ingrese una fecha y horario dentro dentro del siguiente rango de dias y horarios: </p>
                    <ul>
                        {% for h in horarios %}
                            {% if prov == h.proveedor %}
                                <li>{{h.dia}} - {{h.horaInicio}}hs a {{h.horaFinal}}hs</li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <input type="date"  name="fecha{{prov.id}}" min="{{fechaActual}}" value="{{fechaActual}}" required>

                    <input type="time"  name="tiempo{{prov.id}}"  value="00:00"required>
                    
                </div>
                {% endfor %}
            </div>
            <input type="hidden" name="solicitudCheckout">
            <p></p>
            <button type="submit" name="elboton" value="botonv" class="btn btn-success">Checkout</button>
        </form>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
                <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                <div class="toast-header">
                    
                    <strong class="mr-auto"> <i class="bi bi-exclamation-triangle-fill"></i> Advertencia</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{message}}
                </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% block scripts %}
    
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
            
            function calcularTotales(){
                $( ".colPrecio" ).each(function( index ) {
                    var productoId = $(this).attr('id').replace('valorProd','');

                    var precio = $(this).text().replace('$','').replace(',','.');
                    
                    var cantidadProducto = $("#cantProd" + productoId).val();

                    var totalProd = (precio* cantidadProducto).toFixed(2);
                    
                    $("#totalProd" + productoId).text("$" + totalProd.toString().replace('.',','));
                  });

                  // Calculo el total por proveedor
                  $( ".table" ).each(function( index ) {
                    
                    var a = $(this).find( ".colTotalProd");
                    var totalProveedor = 0;
                    $(a).each(function( index ) {
                        totalProveedor += Number($(this).text().replace('$','').replace(',','.'));
                    });
                    

                    var colTotalProveedor = $(this).find( "#totalProveedor");
                    $(colTotalProveedor).text("$" + totalProveedor.toString().replace('.',','))
                  });
            }

            $('.inputCantidad').on('change keyup', function() {
            console.log("evento")
            calcularTotales();
            });

            calcularTotales();
        });
    </script>
    {% endblock %}
{% endblock %}