{% extends "sistemadecompra/base.html" %}

{% block title %}
Carrito
{% endblock %}

{% block content %}
    <h2>Carro de compras</h2>
    {% comment %}
        Si el carrito esta vacio se muestra una mensaje
    {% endcomment %}
    {% if not elCarrito %}
        
        <br> <br>
        <figure class="figure">
            <img src="https://previews.123rf.com/images/boygointer/boygointer1408/boygointer140800262/31041017-el-carro-vac%C3%ADo-imagen.jpg" class="figure-img img-fluid rounded" alt="..." height="350" width="350">
            <figcaption class="figure-caption text-right"><h3><b>Tu carrito está vacio. Vamo a comprar</b></h3></figcaption>
        </figure>
        
    
    {% comment %}
        Si el carrito no esta vacio se muestran los productos separados por proveedor
    {% endcomment %}
    {% else %}
        {% comment %}
            Se muestra una pestaña por cada proveedor    
        {% endcomment %}
        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for prov in losProveedores %}
                <li class="nav-item">
                    <a class="nav-link {{ forloop.first|yesno:"active," }}" id="home-tab" data-toggle="tab" href="#{{prov.user.username}}" role="tab" aria-controls="home" aria-selected="true">{{prov.user.username}}</a>
                </li>
            {% endfor %}
        </ul>
        {% comment %}
            Por cada proveedor se cargan sus productos correspondientes    
        {% endcomment %}
        <form action="{% url 'ver_Carrito' %}" method="GET">
            <div class="tab-content" id="myTabContent">
                {% for prov in losProveedores %}
                <div class="tab-pane fade {{ forloop.first|yesno:"show active," }}" id="{{prov.user.username}}" role="tabpanel" aria-labelledby="home-tab">
                    <br>
                    <p>Productos agregados:</p>
                    <ul>
                        {% for producto in elCarrito %}
                            {% if prov == producto.proveedor %}
                                <li>
                                    {{producto.nombre}}  ${{producto.valor}} 
                                    <button type="submit" name="borrarItemProducto" value="{{producto.id}}" class="btn btn-danger">
                                        <i class="bi bi-trash3"></i>
                                    </button> 
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <p>Ingrese una fecha y horario dentro dentro del siguiente rango de dias y horarios: </p>
                    <ul>
                        {% for h in horarios %}
                            {% if prov == h.proveedor %}
                                <li>{{h.dia}} - {{h.horaInicio}}hs a {{h.horaFinal}}hs</li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <input type="date"  name="fecha{{prov.id}}" min="{{fechaActual}}" value="{{fechaActual}}" required>

                    <input type="time"  name="tiempo{{prov.id}}"  value="00:00"required>
                    
                </div>
                {% endfor %}
            </div>
            <input type="hidden" name="solicitudCheckout">
            <p>Total: ${{total}}</p>
            <button type="submit" name="elboton" value="botonv" class="btn btn-success">Checkout</button>
        </form>
    
    {% endif %}

{% endblock %}