{% extends "sistemadecompra/base.html" %}


{% block title %} Crear Horario {% endblock %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h2>Crear Horario</h2>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto shadow p-3 mb-5 bg-white rounded">
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <input type="submit" class="btn btn-primary" type="button" value="Crear">
            </form>
        </div>
    </div>

{% endblock %}