{% extends "sistemadecompra/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <div class="text-center" style="height: 500px;">
        <div class="row justify-content-center" >
            <div class="col-md-auto shadow p-3 mb-5 bg-white rounded" style="margin: 100px;">
                <form class="form-signin" action="" method="POST">
                    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Inicie sesión</h1>
                    {% csrf_token %}
                    <table>
                        {{ form_user_sesion.as_table }}
                    </table>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}