{% extends "sistemadecompra/base.html" %}

{% block title %} Perfil {% endblock %}

{% block content %}

<input type="hidden" name="tabHidden" id="tabHidden" value="{{tab}}">

<div class="row">
    <div class="col col-lg-2" style="background-color: #004b8d;  height: 650px; margin-top: -10px; padding-top: 0">
      <div class="text-white nav flex-column nav-pills menuvertical" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a style="font-size: 18px;" class="text-white nav-link active" id="tabInformacion" data-toggle="pill" href="{% url 'ver_Informacion_Cliente' %}" role="tab" aria-controls="v-pills-home" aria-selected="true">Información</a>
        <a style="font-size: 18px;" class="text-white nav-link" id="tabHistorialCompras" data-toggle="pill" href="{% url 'ver_Historial_Compras' %}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Historial de Compras</a>
        <a style="font-size: 18px;" class="text-white nav-link" id="tabPedidos" data-toggle="pill" href="{% url 'ver_Pedidos_Cliente' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Pedidos</a>
      </div>
    </div> 
    <div class="col col-lg-10 overflow-auto" id="contenido" style="height: 650px;">
      
    </div>
  </div>
  {% block scripts %}
    <script>
      
      // La siguiente linea es para esperar que cargue todos los scripts...HAY QUE REVISAR COMO HACER PARA QUE JQUERY CARGUE ANTES Y ASI PODER USAR $(function()
      //document.addEventListener("DOMContentLoaded", function(event) {
        $(function () {

          if ($("#tabHidden").val() != ""){
            if ($("#tabHidden").val() == "historialCompra"){
              $(".nav").find(".active").removeClass("active");
              $("#tabHistorialCompras").addClass("active");
              var href = $("#tabHistorialCompras").attr('href');
            }
            if ($("#tabHidden").val() == "pedidos"){
              $(".nav").find(".active").removeClass("active");
              $("#tabPedidos").addClass("active");
              var href = $("#tabPedidos").attr('href');
            }
            cargarVista(href);
          }else{
            $("#tabInformacion").addClass("active");
            var href = $("#tabInformacion").attr('href');
            cargarVista(href);
          }
          
          function cargarVista(href){
            $.ajax(href, {
              success: function(response) {
                // Si el llamado fue exitoso cargo dentro del div "contenido" el html que me devolvio la vista
                $('#contenido').html(response)
              },
              error: function(response) {
                  // Si hubo un error lo informo
                  alert("OCURRIO UN ERROR AL CARGAR LA VISTA")
              }
            });
          }

        // Esperando a que se genere un evento del tipo click en algun "a" que sea hijo de la clase "menuvertical"
        //$('.menuvertical > a').click(function() {
        $('body').off('click', '.menuvertical > a').on('click', '.menuvertical > a', function (){
          console.log("ajax");
          // Por agregar el listener, el nav con los botones dejo de funcionar como debia... Seteo el boton activo (active) manualmente
          $(".nav").find(".active").removeClass("active");
          $(this).addClass("active");

          // Obtengo la url del template que quiero llamar
          var href = $(this).attr('href');

          // Por si hay que agregar un gif mientras se carga...
          // $('#subcategory_detail').html(my_cool_loading_gif_html)

          // Llamo mediante ajax a la vista solicitada
          $.ajax(href, {
            success: function(response) {
              // Si el llamado fue exitoso cargo dentro del div "contenido" el html que me devolvio la vista
              console.log("response")
              $('#contenido').html(response)
            },
            error: function(response) {
                // Si hubo un error lo informo
                alert("OCURRIO UN ERROR AL CARGAR LA VISTA")
            }
          })
          return false;
        });
      });
      
      </script>
  {% endblock %}
{% endblock %}