<div class="row">
    <div class="col col-lg-12">
        <a class="btn btn-primary btn-block" href="{% url 'crear_Producto' %}"> Crear</a> <br>
    </div>
</div>
<hr>

{% for it in lista_producto_proveedor %}
<div class="row">
    <div class="col col-lg-4">
        <h6>Nombre</h6>
        <p>{{it.nombre}}</p>
    </div>
    <div class="col col-lg-4">
        <h6>Marca</h6>
        <p>{{ it.marca }}</p>
    </div>
    <div class="col col-lg-4">
        <h6>Tipo</h6>
        <p>{{it.tipo}} </p>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <a class="btn btn-warning btn-sm" href="{% url 'modificar_Producto' it.id %}"> Modificar</a>
        <a  class="btn btn-danger btn-sm" href="{% url 'eliminar_Producto' it.id %}"> Eliminar</a>
    </div>
</div>
<hr>
{% endfor %}

