{% extends "sistemadecompra/base.html" %}


{% block title %} Borrar Producto {% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h2>ATENCIÓN!</h2>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto shadow p-3 mb-5 bg-white rounded">
            <form method="POST">{% csrf_token %}
                <p>¿Esta seguro de borrar el Producto:  "{{ object }}"?</p>
                <input type="submit" class="btn btn-primary" value="Confirm">
            </form>
        </div>
    </div>
{% endblock %}